body{
    background-color: rgb(227, 166, 166);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{

    padding: 30px;
    border-radius: 30px;
    border-color: black;
    width:300px;
}
h2{
    text-align: center;
    color: darkblue;
}
textarea{
    width:100%;
    height:80px;
    padding:10px;
    border:2px solid #ccc;
    border-radius:5px;
    resize:none;
    text-align: center;
}
button{
    margin:5px;
    padding:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.save-button{
    background-color: green;
    color: whitesmoke;
    align-items: center;
    text-align: center;

}
.clear-button{
    background-color: red;
    color: whitesmoke;
    align-items: center;
    text-align: center;


}
#result{
    margin-top:20px;
    font-size: 18px;
    color:blue;
    font-weight: bold;
}
