body{
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;        
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    width: 300px;
    text-align: center;
}
.container h2{
    color:blueviolet;
    text-align: center;
    margin-bottom:20px;
}
label{
    font-weight: bold;
    color: darkred;
    display: block;
}
button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: burlywood;
        border: 2px solid black;
         font-size: 10px;
         font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:azure;
}
#message{
    margin-top: 20px;
    font-size: 18px;
    color:blue;
    font-weight: bold;
}